[run]
source=django_slugify_processor
omit =
    .*
    tests/*
    */_*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args
