[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
docutils = "==0.14"
alagitpull = "==0.0.21"
releases = "==1.6.1"
Sphinx = "==1.7.9"
Django = ">=1.11"
isort = "==4.3.4"
"flake8" = "==3.5.0"
"flake8-quotes" = "==1.0.0"
tox = "==3.2.1"
yapf = "==0.21.0"
"autopep8" = "==1.4"
pytest = "==3.8.0"
pytest-django = "==3.4.2"
django-extensions = "==2.1.2"
django-slugify-processor = {path = ".", editable = true}

[packages]

[requires]
python_version = "2.7"
