[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

alagitpull = "==0.0.13"
django = "*"
pytest = "==3.3.0"
releases = "==1.4.0"
sphinx = "*"
pytest-django = "==3.1.2"
tox = "*"
yapf = "*"
"autopep8" = "*"
"flake8-quotes" = "*"
isort = "*"
"qwry4gvS" = {path = ".", editable = true}


[requires]

python_version = "3.6"
